<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2 style="color:green;">Registration Successful ✅</h2>

    <p><strong>Name:</strong> {{ user["first_name"] }} {{ user["last_name"] }}</p>
    <p><strong>Email:</strong> {{ user["email"] }}</p>
    <p><strong>Password:</strong> {{ user["password"] }}</p>

    <br>
    <a href="/users">View All Users</a>
    <br><br>
    <a href="/">Back to Register</a>
</div>

</body>
</html>
